{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management System{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">

{% include "includes/navbar.html" %}

<main class="container mx-auto mt-8 px-4 flex-grow">
    {% include "includes/messages.html" %}
    {% block content %}{% endblock %}
</main>
</body>
</html